/ContactBook/ContactBook/obj/*
/ContactBook/ContactBook/bin/*
/ContactBook/obj/Debug/netcoreapp3.1-windows/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/App.g.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/apphost.exe
/ContactBook/bin/Debug/netcoreapp3.1-windows/AutoMapper.dll
/.idea/.idea.ContactBook/.idea/codeStyles/codeStyleConfig.xml
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.assets.cache
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.AssemblyInfo.cs
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.AssemblyInfoInputs.cache
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.assets.cache
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.csproj.AssemblyReference.cache
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.csproj.CopyComplete
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.csproj.CoreCompileInputs.cache
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.csproj.FileListAbsolute.txt
/ContactBook.Contact.Domain/obj/ContactBook.Contact.Domain.csproj.nuget.dgspec.json
/ContactBook.Contact.Domain/obj/ContactBook.Contact.Domain.csproj.nuget.g.props
/ContactBook.Contact.Domain/obj/ContactBook.Contact.Domain.csproj.nuget.g.targets
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.deps.json
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.dll
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.dll
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.dll
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.pdb
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.pdb
/ContactBook.Contact.Domain/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Domain.pdb
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.AssemblyInfo.cs
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.AssemblyInfoInputs.cache
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.assets.cache
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.csproj.AssemblyReference.cache
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.csproj.CopyComplete
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.csproj.CoreCompileInputs.cache
/ContactBook.Contact.Persistence/obj/ContactBook.Contact.Persistence.csproj.EntityFrameworkCore.targets
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.csproj.FileListAbsolute.txt
/ContactBook.Contact.Persistence/obj/ContactBook.Contact.Persistence.csproj.nuget.dgspec.json
/ContactBook.Contact.Persistence/obj/ContactBook.Contact.Persistence.csproj.nuget.g.props
/ContactBook.Contact.Persistence/obj/ContactBook.Contact.Persistence.csproj.nuget.g.targets
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.deps.json
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.dll
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.dll
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.dll
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.dll
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.genruntimeconfig.cache
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.pdb
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.pdb
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.pdb
/ContactBook.Contact.Persistence/obj/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.pdb
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.runtimeconfig.dev.json
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contact.Persistence.runtimeconfig.json
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.AssemblyInfo.cs
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.AssemblyInfoInputs.cache
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.assets.cache
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.csproj.AssemblyReference.cache
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.csproj.CoreCompileInputs.cache
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.csproj.FileListAbsolute.txt
/ContactBook.Contracts/obj/ContactBook.Contracts.csproj.nuget.dgspec.json
/ContactBook.Contracts/obj/ContactBook.Contracts.csproj.nuget.g.props
/ContactBook.Contracts/obj/ContactBook.Contracts.csproj.nuget.g.targets
/ContactBook.Contracts/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.deps.json
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.dll
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.dll
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.dll
/ContactBook.Contracts/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.dll
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.dll
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.pdb
/ContactBook.Contact.Domain/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.pdb
/ContactBook.Contact.Persistence/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.pdb
/ContactBook.Contracts/bin/Debug/netcoreapp3.1-windows/ContactBook.Contracts.pdb
/ContactBook.Contracts/obj/Debug/netcoreapp3.1-windows/ContactBook.Contracts.pdb
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.csproj.AssemblyReference.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.csproj.CopyComplete
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.csproj.CoreCompileInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.csproj.FileListAbsolute.txt
/ContactBook/obj/ContactBook.csproj.nuget.dgspec.json
/ContactBook/obj/ContactBook.csproj.nuget.g.props
/ContactBook/obj/ContactBook.csproj.nuget.g.targets
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.deps.json
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.dll
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.exe
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.g.resources
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.genruntimeconfig.cache
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.pdb
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook.pdb
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.runtimeconfig.dev.json
/ContactBook/bin/Debug/netcoreapp3.1-windows/ContactBook.runtimeconfig.json
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_MarkupCompile.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_MarkupCompile.lref
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_nwodq0go_wpftmp.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_nwodq0go_wpftmp.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_nwodq0go_wpftmp.assets.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_nwodq0go_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_o5ulinp3_wpftmp.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_o5ulinp3_wpftmp.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_o5ulinp3_wpftmp.assets.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_o5ulinp3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_thoxuxiq_wpftmp.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_thoxuxiq_wpftmp.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_thoxuxiq_wpftmp.assets.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_thoxuxiq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/Contacts.c8QH4g.meta
/.idea/.idea.ContactBook/.idea/contentModel.xml
/.idea/.idea.ContactBook/.idea/dataSources.local.xml
/.idea/.idea.ContactBook/.idea/dataSources.xml
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/Contacts.c8QH4g/schema/dbo.sYMBAA.meta
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6.xml
/.idea/.idea.ContactBook/.idea/encodings.xml
/.idea/.idea.ContactBook/.idea/indexLayout.xml
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/Contacts.c8QH4g/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/ContactBook/obj/Debug/netcoreapp3.1-windows/MainWindow.baml
/ContactBook/obj/Debug/netcoreapp3.1-windows/MainWindow.g.cs
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/master.YiqNvw.meta
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Data.SqlClient.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.EntityFrameworkCore.Abstractions.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.EntityFrameworkCore.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.EntityFrameworkCore.Relational.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.EntityFrameworkCore.SqlServer.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Caching.Abstractions.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Caching.Memory.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Configuration.Abstractions.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.DependencyInjection.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Logging.Abstractions.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Logging.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Options.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Extensions.Primitives.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.Identity.Client.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.IdentityModel.JsonWebTokens.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.IdentityModel.Logging.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.IdentityModel.Protocols.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/Microsoft.IdentityModel.Tokens.dll
/.idea/.idea.ContactBook/.idea/modules.xml
/ContactBook/bin/Debug/netcoreapp3.1-windows/Newtonsoft.Json.dll
/ContactBook/obj/project.assets.json
/ContactBook.Contact.Domain/obj/project.assets.json
/ContactBook.Contact.Persistence/obj/project.assets.json
/ContactBook.Contracts/obj/project.assets.json
/ContactBook/obj/project.nuget.cache
/ContactBook.Contact.Domain/obj/project.nuget.cache
/ContactBook.Contact.Persistence/obj/project.nuget.cache
/ContactBook.Contracts/obj/project.nuget.cache
/ContactBook/obj/project.packagespec.json
/ContactBook.Contact.Domain/obj/project.packagespec.json
/ContactBook.Contact.Persistence/obj/project.packagespec.json
/ContactBook.Contracts/obj/project.packagespec.json
/.idea/.idea.ContactBook/.idea/projectSettingsUpdater.xml
/ContactBook/obj/rider.project.restore.info
/ContactBook.Contact.Domain/obj/rider.project.restore.info
/ContactBook.Contact.Persistence/obj/rider.project.restore.info
/ContactBook.Contracts/obj/rider.project.restore.info
/.idea/.idea.ContactBook/riderModule.iml
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/Contacts.c8QH4g/schema/sys.zb4BAA.meta
/.idea/.idea.ContactBook/.idea/dataSources/ef78225b-35c2-41b2-a1cd-9ff2a25fffc6/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
/ContactBook/bin/Debug/netcoreapp3.1-windows/System.Collections.Immutable.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/System.ComponentModel.Annotations.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/System.Diagnostics.DiagnosticSource.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/System.IdentityModel.Tokens.Jwt.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/ContactBook/bin/Debug/netcoreapp3.1-windows/System.Runtime.Caching.dll
/.idea/.idea.ContactBook/.idea/vcs.xml
/.idea/.idea.ContactBook/.idea/workspace.xml
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_aoy325sm_wpftmp.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_aoy325sm_wpftmp.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_aoy325sm_wpftmp.assets.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_aoy325sm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_i1iyi4vo_wpftmp.AssemblyInfo.cs
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_i1iyi4vo_wpftmp.AssemblyInfoInputs.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_i1iyi4vo_wpftmp.assets.cache
/ContactBook/obj/Debug/netcoreapp3.1-windows/ContactBook_i1iyi4vo_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ContactBook/obj/Debug/netcoreapp3.1-windows/
